<h2>ツイート一覧</h2>
<% @tclones.each do |tclone| %>
<div class="tweet">
  <p><%= tclone.content %></p>
  <p><%= link_to 'ツイートを編集', edit_tclone_path(tclone.id) %></p>
  <p><%= link_to 'ツイートを削除', tclone_path(tclone.id), method: :delete %></p>
</div>
<% end %>

<%= link_to 'ツイート画面へ', new_tclone_path %>
